<div class="mt-auto pt-3 border-top text-center">
  <small class="text-muted">
    Built by <a href="https://github.com/mohit31kumar" target="_blank" class="text-decoration-none">Mohit Kumar</a>
  </small>
</div>
