# replace environt variables as per yours.

APP_PORT=3000
INTERNAL_DB_HOST=localhost
INTERNAL_DB_NAME=db_manager
INTERNAL_DB_USER=root
INTERNAL_DB_PASSWORD=
INTERNAL_DB_PORT=3306
INTERNAL_DB_SSL=false
SESSION_SECRET=replace-with-your-new-session-secret
